DYNAMODB_FORM_TABLE_NAME=FormsTable
DYNAMODB_APPLICATION_TABLE_NAME=ApplicationsTable
AWS_REGION=<your region>
DYNAMODB_LOCAL=true
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=fake
AWS_SECRET_ACCESS_KEY=fake

EXPRESS_PORT=9002
EXPRESS_HOST=0.0.0.0
EXPRESS_ALLOW_ORIGIN=['http://localhost:3000', 'http://localhost:5713']