FORM_RUNNER_URL=http://localhost:3000/form
FORM_DESIGNER_URL=http://localhost:5173

DYNAMODB_TABLE_NAME=FormsTable
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=eu-<your region>
AWS_ACCESS_KEY_ID=fake
AWS_SECRET_ACCESS_KEY=fake

AWS_OIDC_USER_ID=<user ID in your AWS user pool that can be used to log in to the designer>
AWS_OIDC_AUTHORITY=<your AWS user pool URL>
AWS_OIDC_PASSWORD=<password for the user ID>
AWS_OIDC_CLIENT_ID=<client ID for your AWS user pool>
AWS_OIDC_USER_POOL_ID=<id of your AWS user pool>