VITE_APP_API_URL=http://localhost:9001/api
VITE_APP_RUNNER_URL=http://localhost:3000
VITE_APP_CHAT_URL=http://localhost:8000

VITE_OIDC_CLIENT_ID=<your client id>
VITE_OIDC_CLIENT_AUTHORITY=<your AWS user pool URL>
VITE_OIDC_CALLBACK=http://localhost:5173/oidcCallback