DYNAMODB_TABLE_NAME=FormsTable
DYNAMODB_LOCAL=true
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=fake
AWS_SECRET_ACCESS_KEY=fake

AWS_REGION=<your region>
AWS_OIDC_AUTHORITY=<your AWS user pool URL>

EXPRESS_PORT=9001
EXPRESS_HOST=0.0.0.0
EXPRESS_ALLOW_ORIGIN=['http://localhost:3000', 'http://localhost:5713']